.imgElement
{
    height: 150px;
    position: absolute;
}

.buttonImg {
    margin: 15px;
    padding: unset;
    background-color: transparent;
}

.tabElement {
    position: unset;
    border-left: none;
    height: 150px;
    width: 275px;
}

.mainContainer {
    z-index: 1;
    width: 80%;
    height: 60%;
    border: 1px solid;
    margin: auto;
    background-color: transparent;
}

.mainContainer {
    width: 80%;
    height: 60%;
    margin: auto;
    background-color: transparent;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.mainContainer::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 6s linear infinite;
}

.mainContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

.toolbar
{
    height: 100px;
    width: 100%;
    text-align: center;
}

.slider{
    background-color: black;
}

.row{
    width: 100%;
    height: 100%;
}

#slider {
    max-width: 350px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    border: 1px solid black
}

#slider > div {
    width: 100px;
    height: 100px;
    display: inline-block;
}

body
{
    font-family: Helvetica, Arial, sans-serif;
}





#scrollSlider {
    /* width: 900px; */
    margin: 0 auto;
    background-color: beige;
    height: 200px;
    overflow-y: scroll;
  }